.checkout-page {
  display: flex;
  flex-direction: column;
}
.checkout-page > h1 {
  text-align: center;
}
.priceDetailscheckout {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50vh;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.price-row-form {
  display: flex;
  justify-content: space-between;
}

.priceDetailscheckout .price-row {
  display: flex;
  justify-content: space-between;
}

.headingcheck {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.addresses {
  display: flex;
  border-radius: 0.5rem;
  background-color: white;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.checkout-container {
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
}

.price-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.form {
  margin-top: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 60%;
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.form .button-row-form {
  display: flex;
  justify-content: space-around;
}
